In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import folium

%matplotlib inline

In [2]:
jeopardy = pd.read_csv('../data/jeopardy_questions.csv')

In [13]:
jeopardy.columns = ['show_number', 'air_date', 'round', 'category', 'value', 'question', 'answer']

In [15]:
jeopardy.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [16]:
jeopardy['round'].value_counts()

Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name: round, dtype: int64

In [19]:
tiebreakers = jeopardy.query('round == "Tiebreaker"')

In [20]:
final_jeopardy = jeopardy.query('round == "Final Jeopardy!"')

In [30]:
jeopardy.air_date.min()

'1984-09-10'

In [31]:
jeopardy.air_date.max()

'2012-01-27'

In [38]:
jeopardy['air_date'] = pd.to_datetime(jeopardy['air_date'])

In [40]:
jeopardy['air_year'] = jeopardy['air_date'].dt.year

In [42]:
jeopardy.air_year.value_counts()

2008    14036
2007    13940
2010    13756
2006    13726
2009    13579
2005    13560
1999    13540
2000    13439
2011    13376
2004    13190
1998    13143
1997    13099
2001    12097
2003     9426
2002     6859
1996     4891
1990     4337
1993     2132
1989     2067
1992     1885
1991     1444
1986     1409
1988     1290
1987     1275
1984     1179
1995     1138
1994     1136
2012     1093
1985      888
Name: air_year, dtype: int64

### Notes
<p>
    Earliest air date: '1984-09-10'<br>
    Latest air date: '2012-01-27'<br>